.boasvindas{
    text-align: center;
    background-color: rgb(192, 180, 16);
    color: white;
    
}

#imagem{
    width: 100%;
    
    
}

#continuar{
    position: absolute;
    top: 28%;
    left: 43%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    font-family: inherit;
    text-transform: uppercase;
    
}

#frase{
    position: absolute;
    top: 15%;
    left: 38%;
    text-align: center;
    color: rgb(8, 8, 8);
}