.boasvindas{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(165, 7, 7);
    
}

#imagem{
    width: 100%;
    
    
}

#continuar{
    position: absolute;
    top: 28%;
    left: 70%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    font-family: inherit;
    text-transform: uppercase;
    
}

#frase{
    position: absolute;
    top: 15%;
    left: 65%;
    text-align: center;
    color: rgb(165, 7, 7);
}