#imagem{
    width: 100%;
}

#botao{
    position: absolute;
    top: 150%;
    left: 70%;
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    color:rgb(197, 6, 6);
}

#botao2{
    position: absolute;
    top: 200%;
    left: 70%;
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    color:rgb(197, 6, 6);
}